.header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  background: url('../images/header-image.png') no-repeat center center;
  background-size: cover;
}

.header-container > * {
  padding: 10px;
}

.header-container button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header-container button:focus {
  outline: 0;
}

.header-title {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  text-transform: uppercase;
  color: black;
}

.header-title-top {
  letter-spacing: 0.3em;
  line-height: 1.6em;
  font-size: 2.5em;
}

.header-title-bottom {
  font-family: 'VelinoDisplay';
  font-size: 8em;
}

.header-icon {
  height: 48px;
  position: relative;
}

.header-icon:hover {
  animation: pull 2s infinite reverse ease-in-out;
}

@keyframes pull {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
